@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* já alterei as cores mais ou menos ficaria(troquei laranja e amarelo pelos rosa) */
:root {
    --dark: #3C3B40;
    --light: #F3F3F3;
    --primary: #D69697;
    --primaryHover: #B44A60;
    --second:#0080ff;
    --secondHover: #0051ff;
}

body {
    position: relative;
    background: var(--dark);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    transition: 1s;
}

/*14 min iniciar a estilização do nav */

/*header*/

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
}

.header-left, 
.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

/*Header left*/
.logo {
    font-size: 2rem;
    color: var(--light);
    letter-spacing: 1px;
    font-weight: 800;
    text-decoration: none;
    transition: 0.3s;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav li {
    list-style: none;
    margin: 0 10px;
}

.nav li a {
    color: var(--light);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.nav li:hover a{
    color: var(--primaryHover);
}

/*Header right*/
.signin {
    font-size: 1rem;
    color: var(--light);
}