@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #3c3b40;
  --light: #f3f3f3;
  --primary: #d69697;
  --primaryHover: #b44a60;
  --second: #0080ff;
  --secondHover: #0051ff;
}

body {
  position: relative;
  background: var(--dark);
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  transition: 1s;
}

body.light {
    background: var(--light);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875em 6.25em;
  z-index: 1000;
}

.header-left,
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6.25em;
}

.logo {
  font-size: 2em;
  color: var(--light);
  letter-spacing: 0.0625em;
  font-weight: 800;
  text-decoration: none;
  transition: 0.3s;
}

body.light .logo {
    color: var(--dark);
}

.nav {
  display: flex;
  gap: 2.5em;
}

.nav li {
  list-style: none;
  margin: 0 0.625em;
}

.nav li a {
  color: var(--light);
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.0625em;
  cursor: pointer;
  transition: 0.3s;
}

body.light .nav li a {
  color: var(--dark);
}

.nav li:hover a, body.light .nav li:hover a {
  color: var(--primaryHover);
}

.signin {
  font-size: 1em;
  color: var(--light);
  font-weight: 600;
  text-decoration: none;
  padding: 0.625em 1.5625em;
  background: var(--primary);
  border-radius: 1.875em 3.125em 0 1.875em;
  transition: 0.3s;
}

.signin:hover {
  background: var(--primaryHover);
}

.icon-light {
  font-size: 1.6em;
  color: var(--light);
}

.icon-dark {
  color: var(--dark);
  font-size: 1.6em;
  display: none;
}

body.light .icon-light {
  display: none;
}

body.light .icon-dark {
  display: block;
}

/* Banner */
.banner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 6.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  transition: 0.5s;
}

.banner .content {
  width: 50%;
}

.banner .content .title {
  font-size: 4em;
  color: var(--light);
  margin-bottom: 1.25em;
  transition: 0.3s;
}

.banner .content p {
  color: var(--light);
  font-weight: 250;
  letter-spacing: 0.0625em;
  margin-bottom: 3.125em;
  transition: 0.3s;
}

body.light .banner .content .title {
  color: var(--dark);
}

body.light .banner .content p {
  color: var(--dark);
}

.banner .content .button a {
  text-decoration: none;
  color: var(--light);
  padding: 0.9375em 1.25em;
  font-size: 1.3em;
  transition: 0.3s;
}

.btn-left {
  background: var(--primary);
  border-radius: 3.125em 1.875em 1.875em 0;
  margin-right: 1.25em;
}

.btn-left:hover {
  background: var(--primaryHover);
}

.btn-right {
  background: var(--second);
  border-radius: 1.875em 0 3.125em 1.875em;
}

.btn-right:hover {
  background: var(--secondHover);
}

/* Gallery */

.banner .gallery {
  width: 50%;
  height: 100%;
  padding: 6.25em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.875em;
}

.gallery .item {
  position: relative;
  width: 12.5em;
  overflow: hidden;
  border-radius: 6.25em;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.gallery .item:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6); 
}

body.light .gallery .item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.gallery .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery .item:nth-of-type(1) {
  grid-row: 1/4;
  animation: move 5s linear infinite;
}

.gallery .item:nth-of-type(2) {
    animation: moveInverse 5s linear infinite;
}

.gallery .item:nth-of-type(3) {
    animation: move 5s linear infinite;
}

.gallery .item:nth-of-type(4) {
    animation: move 5s linear infinite;
}

.gallery .item:nth-of-type(5) {
  grid-row: 2/5;
  animation: moveInverse 5s linear infinite;
}

.gallery .item:nth-of-type(6) {
    animation: move 5s linear infinite;
}

.gallery .item:nth-of-type(7) {
    animation: move 5s linear infinite;
}

.gallery .item:nth-of-type(8) {
  grid-row: 3/6;
  animation: move 5s linear infinite;
}

.gallery .item:nth-of-type(9) {
    animation: moveInverse 5s linear infinite;
}

@keyframes move {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6.25em);
    }
}

@keyframes moveInverse {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6.25em);
    }
}