* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark: #3c3b40;
    --light: #f3f3f3;
    --primary: #d69697;
    --primaryHover: #b44a60;
    --second: #0080ff;
    --secondHover: #0051ff;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--primary);
}

#main {
    min-height: 75vh;
    background-position: bottom center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 2000px;
    padding: 16px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    color: var(--light);
}

.main-content .intro-heading {
    font-size: 80px;
}

/* O BODY.LIGHT É O BOTÃO, QUANDO ACIONADO PUXA ESSE CÓDIGO, PODE SER FEITO PRA OUTRAS PARTES TAMBÉM  */
body.light .intro-heading {
    color: var(--dark);
}

.main-content .main-heading {
    font-size: 150px;
    margin-top: -20px;
    background: linear-gradient(90deg, var(--primary), var(--second));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: transparent;
}

.section-title h1 {
    font-size: 55px;
    text-align: center;
    margin-top: 60px;
}

.subtitle {
    font-size: 26px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* O BODY.LIGHT É O BOTÃO, QUANDO ACIONADO PUXA ESSE CÓDIGO, PODE SER FEITO PRA OUTRAS PARTES TAMBÉM  */
body.light .subtitle {
    color: var(--dark);
}

.story {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 45px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 65px;
}

.stories {
    background-color: var(--dark);
    color: var(--light);
    padding: 30px;
    flex: 1;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: justify;
    position: relative;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.stories:hover {
    background-color: var(--primaryHover);
    color: var(--light);
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.stories:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--primary);
    border-radius: 5px;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px var(--primaryHover);
    }
    100% {
        box-shadow: 0 0 15px var(--primaryHover);
    }
}

#phrase {
    background-color: #f3f3f3f3;
    color: var(--primary);
    text-align: center;
    padding: 20px 20px;
    font-size: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}
