* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark: #3c3b40;
    --light: #f3f3f3;
    --primary: #d69697;
    --primaryHover: #b44a60;
    --second: #0080ff;
    --secondHover: #0051ff;
  }

  body{
    font-family: "Roboto", sans-serif;
    color: var(--primary);
  }

  #main {
    min-height: 70vh;
    background-position: bottom center;
    background-size: cover;
  }


  .container {
    max-width:2000px;
    padding: 16px;
  }
 

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    color: var(--light);
}

.main-content .intro-heading {
    font-size: 50px;
}

.main-content .main-heading {
    font-size: 110px;
    margin-top: -20px;
}

.section-title h1 {
    font-size: 50px;
    text-align: center;
}


.services {
    display: flex;   
    margin-top: 60px;
    gap: 20px; 
}



.service {
    background-color: var(--dark); 
    color: var(--light); 
    padding: 60px; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


#testimonial {
    background-color: var(--light); 
    color: var(--primary); 
    text-align: center; 
    padding: 40px 20px; 
    font-size: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
