


h1 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--primaryHover);
   
}


section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img
{
    
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

p
{
    margin: 9px;
    color: var(--light);
}
/* O BODY.LIGHT É O BOTÃO, QUANDO ACIONADO PUXA ESSE CÓDIGO, PODE SER FEITO PRA OUTRAS PARTES TAMBÉM  */
body.light p {
    color: var(--dark);
}
/*Colocar em inglês .Boxcolors*/
.Boxcor
{
    display: flex;
    background-color: #007BFF;
    justify-content: center;
    margin:  17px auto;


    
}

.Boxcor p
{
    color: var(--primary);  
    text-align: center;
}